* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', 'Comfortaa', sans-serif;
  padding: 0;
  margin: 0;
  min-width: 330px;
}
a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  border-bottom: 2px solid #54cfff;
  padding: 3.5rem 2rem;
}
.navbar-brand {
  /* Bootstrap fonts for navbar-brand */
  font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2.5rem;
  font-weight: lighter;
  letter-spacing: .2rem;
}
.nav-link {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  margin: 0 1.5rem;
}
.nav-link::before {
  content: '';
  background-color: #0652DD;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  transition: transform .20s ease-in-out;
  transform: scaleX(0);
}
.nav-link:hover::before, .nav-link:focus::before {
  transform: scaleX(1);
}
.navbar .navbar-toggler {
  border: none;
  font-size: 2.75rem;
  color: #0652DD;
  padding: 0;
  transition: color 400ms linear;
}
.navbar .navbar-toggler:hover {
  color: #1B1464;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler-icon {
  background-image: none;
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
  transition: transform .20s ease-in-out;
}
[data-bs-toggle="collapse"][aria-expanded="true"] > .rotate-if-collapsed {
  -webkit-transform: rotateX(180deg);
  -moz-transform:    rotateX(180deg);
  -ms-transform:     rotateX(180deg);
  -o-transform:      rotateX(180deg);
  transform:         rotateX(180deg);
}

/* Projects */

.container {
  padding: 0.75rem;
  margin-top: 3.5rem;
  max-width: 1400px;
  /* Bootstrap --> max-width: 1320px */
}
.fade {
  animation: fade-in 300ms ease-in;
  animation-fill-mode: forwards;
}
.project {
  max-width: 700px;
  padding-bottom: 3.5rem;
  margin: 0 auto;
}
.preview {
  width: 300px;
  margin: 0 auto;
}
.app-display {
  border-radius: 0.75rem;
  box-shadow: 4px 4px 25px -5px #888888;
  overflow: hidden;
}
.project-links {
  text-align: center;
  width: 100%;
}
.project-links .button {
  border-radius: 1.75rem;
  display: inline-block;
  font-family: 'Comfortaa', 'Montserrat', sans-serif;
  margin: 1.75rem 1rem 0.75rem;
  text-transform: uppercase;
  transition: box-shadow 300ms ease-in;
  overflow-x: hidden;
}
.project-links .button a {
  background: linear-gradient(to left, #0652DD, #1B1464, #0652DD);
  background-size: 200%;
  color: #fff;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.625rem 1rem;
  width: 100%;
  height: 100%;
  transition: 300ms linear;
}
.project-links .button:hover,
.project-links .button:focus {
  box-shadow: 4px 4px 25px -5px #888888;
}
.project-links .button a:hover,
.project-links .button a:focus {
  background-position: right;
  color: #FFC312;
}
.description {
  font-size: 0.875rem;
  max-width: 340px;
  padding: 1rem 0;
  margin: 0 auto;
}
.description h3 {
  color: #1B1464;
  font-family: 'Comfortaa', 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.description strong {
  color: #000;
  font-family: 'Comfortaa', 'Montserrat', sans-serif;
  font-size: 1rem;
}
.description p {
  margin-bottom: 1.25rem;
}
.tech-used {
  margin-bottom: 1rem;
}
.description p,
.description .tech-used {
  color: #616161;
  line-height: 1.6;
}
.picture, img {
  width: 100%;
  height: 100%;
}
a .fa-window-maximize,
a .fa-code {
  padding-left: 5px;
}
.disclaimer {
  color: #616161;
  font-size: 0.875rem;
  padding:  0 1.25rem 1.25rem;
  text-align: center;
}

/* About */

.about-me .text-slot {
  color: #616161;
  font-size: 1rem;
  max-width: 800px;
  padding: 0 1rem 1rem;
  margin: 0 auto;
  line-height: 2;
}
.github-link {
  color: #0652DD;
  font-family: 'Comfortaa', 'Montserrat', sans-serif;
}
.github-link:hover,
.github-link:focus {
  color: #1B1464;
}

/* Contact */

.contacts .container {
  margin-bottom: 3.5rem;
}
.email-me {
  max-width: 500px;
  margin: 0 auto;
}
.contact-header {
  color: #1B1464;
  font-family: 'Comfortaa', 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}
.contact-form label {
  display: block;
  margin: 1rem 0;
}
.field-name {
  color: #0652DD;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 5px;
}
.form-field {
  background-color: #f0f0f0;
  border-style: none;
  border-radius: 1.75rem;
  color: #4a4a4a;
  display: block;
  padding: 5px 10px;
  width: 100%;
}
.form-field:focus {
  outline: none;
  box-shadow: 0px 0px 2px #000;
}
label.textarea {
  margin-bottom: 1.5rem;
}
.message-field {
  resize: vertical;
}
.submit-btn {
  display: inline-block;
  width: 90px;
}
.error-message {
  color: red;
  display: none;
}

/* Key Frames */

@keyframes fade-in {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media Queries */

@media (min-width: 400px) {
  .navbar {
    padding: 3.5rem 4rem;
  }
  .about-me .text-slot {
    padding: 0 2rem 2rem;
  }
}
@media (min-width: 710px) {
  .preview,
  .description {
    display: inline-block;
  }
  .description {
    float: right;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .preview,
  .description {
    display: block;
  }
  .description {
    float: none;
    padding-top: 1rem;
  }
}
@media (min-width: 1400px) {
  .project {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .preview,
  .description {
    display: inline-block;
  }
  .description {
    float: right;
    padding-top: 0;
  }
}
